
USE [my_plan]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[admin_first_name] [nvarchar](50) NULL,
	[admin_last_name] [nvarchar](50) NULL,
	[admin_phone_number] [nvarchar](20) NULL,
	[admin_position] [nvarchar](50) NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[experience_id] [int] NOT NULL,
	[visitor_id] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
	[booking_number_of_ticket] [int] NULL,
	[booking_price_per_ticket] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
	[booking_status] [nvarchar](20) NULL,
	[booking_description] [nvarchar](255) NULL,
	[added_at] [datetime] NULL,
	[booking_time] [time](7) NOT NULL,
 CONSTRAINT [PK__Booking__5DE3A5B18EC8B233] PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Experience]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experience](
	[experience_id] [int] IDENTITY(1,1) NOT NULL,
	[experience_title] [nvarchar](100) NOT NULL,
	[experience_description] [nvarchar](max) NULL,
	[experience_type] [nvarchar](50) NULL,
	[experience_location] [nvarchar](100) NULL,
	[experience_min_price] [decimal](10, 2) NULL,
	[experience_max_price] [decimal](10, 2) NULL,
	[experience_start_date] [date] NULL,
	[experience_end_date] [date] NULL,
	[max_capacity] [int] NULL,
	[added_at] [datetime] NULL,
	[lat] [decimal](10, 8) NULL,
	[long] [decimal](11, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[experience_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperienceDetail]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperienceDetail](
	[experience_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[experience_id] [int] NOT NULL,
	[experience_detail_date] [date] NULL,
	[experience_detail_time] [time](7) NULL,
	[experience_detail_price] [decimal](10, 2) NULL,
	[experience_detail_status] [nvarchar](50) NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[experience_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FriendInvitation]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FriendInvitation](
	[invitation_id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_id] [int] NOT NULL,
	[invitation_receiver_email] [nvarchar](100) NULL,
	[invitation_status] [nvarchar](50) NULL,
	[invitation_token] [nvarchar](255) NULL,
	[invitation_sent_at] [datetime] NULL,
	[added_at] [datetime] NULL,
	[accepted_at] [datetime] NULL,
	[receiver_id] [int] NULL,
	[experience_detail_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invitation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Highlight]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Highlight](
	[highlight_id] [int] IDENTITY(1,1) NOT NULL,
	[highlight_title] [nvarchar](100) NULL,
	[highlight_content] [nvarchar](max) NULL,
	[highlight_image] [nvarchar](255) NULL,
	[highlight_description] [nvarchar](255) NULL,
	[highlight_time] [datetime] NULL,
	[added_at] [datetime] NULL,
	[admin_id] [int] NULL,
	[visitor_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[highlight_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[image_attachment] [nvarchar](255) NULL,
	[image_time] [datetime] NULL,
	[added_at] [datetime] NULL,
	[experience_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_date] [date] NULL,
	[invoice_visitor_address] [nvarchar](255) NULL,
	[invoice_total_amount] [decimal](10, 2) NULL,
	[tax_amount] [decimal](10, 2) NULL,
	[added_at] [datetime] NULL,
	[payment_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itinerary]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itinerary](
	[itinerary_id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_id] [int] NOT NULL,
	[experience_id] [int] NOT NULL,
	[itinerary_start_date] [date] NULL,
	[itinerary_end_date] [date] NULL,
	[itinerary_day] [int] NULL,
	[itinerary_description] [nvarchar](255) NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[itinerary_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mashaaaaaaaaaaal]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mashaaaaaaaaaaal](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_code] [nvarchar](100) NOT NULL,
	[ticket_type] [nvarchar](50) NOT NULL,
	[ticket_seat_number] [nvarchar](50) NOT NULL,
	[ticket_status] [nvarchar](50) NOT NULL,
	[booking_id] [int] NOT NULL,
 CONSTRAINT [PK_Mashaaaaaaaaaaal] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[payment_date] [date] NULL,
	[payment_amount] [decimal](10, 2) NULL,
	[payment_method] [nvarchar](20) NULL,
	[payment_status] [nvarchar](20) NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[visitor_id] [int] NOT NULL,
	[experience_id] [int] NOT NULL,
	[review_rating] [int] NULL,
	[review_comment] [nvarchar](255) NULL,
	[review_time] [datetime] NULL,
	[added_at] [datetime] NULL,
	[booking_id] [int] NULL,
	[admin_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[ticket_code] [nvarchar](50) NULL,
	[ticket_status] [nvarchar](50) NULL,
	[ticket_type] [nvarchar](50) NULL,
	[ticket_seat_number] [nvarchar](20) NULL,
	[issued_at] [datetime] NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[image] [nvarchar](255) NULL,
	[role] [nvarchar](20) NULL,
	[added_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 11/8/2025 9:08:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[visitor_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[visitor_first_name] [nvarchar](50) NULL,
	[visitor_last_name] [nvarchar](50) NULL,
	[visitor_phone_number] [nvarchar](20) NULL,
	[added_at] [datetime] NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[visitor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([admin_id], [user_id], [admin_first_name], [admin_last_name], [admin_phone_number], [admin_position], [added_at]) VALUES (1, 1, N'sYSTEM', N'Admin', N'0500000001', N'Support Manager', CAST(N'2025-10-21T02:38:26.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([booking_id], [experience_id], [visitor_id], [booking_date], [booking_number_of_ticket], [booking_price_per_ticket], [total_amount], [booking_status], [booking_description], [added_at], [booking_time]) VALUES (1, 1, 1, CAST(N'2025-10-06' AS Date), 2, CAST(175.00 AS Decimal(10, 2)), CAST(350.00 AS Decimal(10, 2)), N'Confirmed', N'Riyadh Season music event booking', CAST(N'2025-10-06T03:11:47.117' AS DateTime), CAST(N'21:42:59.1500000' AS Time))
INSERT [dbo].[Booking] ([booking_id], [experience_id], [visitor_id], [booking_date], [booking_number_of_ticket], [booking_price_per_ticket], [total_amount], [booking_status], [booking_description], [added_at], [booking_time]) VALUES (2, 2, 1, CAST(N'2025-10-09' AS Date), 1, CAST(200.00 AS Decimal(10, 2)), CAST(200.00 AS Decimal(10, 2)), N'Pending', N'Desert adventure booking awaiting confirmation', CAST(N'2025-10-09T03:11:47.117' AS DateTime), CAST(N'21:42:59.1500000' AS Time))
INSERT [dbo].[Booking] ([booking_id], [experience_id], [visitor_id], [booking_date], [booking_number_of_ticket], [booking_price_per_ticket], [total_amount], [booking_status], [booking_description], [added_at], [booking_time]) VALUES (3, 3, 1, CAST(N'2025-10-13' AS Date), 3, CAST(150.00 AS Decimal(10, 2)), CAST(450.00 AS Decimal(10, 2)), N'Confirmed', N'Booking cancelled due to schedule change', CAST(N'2025-10-13T03:11:47.117' AS DateTime), CAST(N'21:42:59.1500000' AS Time))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Experience] ON 

SET IDENTITY_INSERT [dbo].[Experience] OFF
GO
SET IDENTITY_INSERT [dbo].[ExperienceDetail] ON 

INSERT [dbo].[ExperienceDetail] ([experience_detail_id], [experience_id], [experience_detail_date], [experience_detail_time], [experience_detail_price], [experience_detail_status], [added_at]) VALUES (1, 1, CAST(N'2025-10-15' AS Date), CAST(N'16:00:00' AS Time), CAST(75.00 AS Decimal(10, 2)), N'Available', CAST(N'2025-10-21T02:51:05.700' AS DateTime))
INSERT [dbo].[ExperienceDetail] ([experience_detail_id], [experience_id], [experience_detail_date], [experience_detail_time], [experience_detail_price], [experience_detail_status], [added_at]) VALUES (2, 1, CAST(N'2025-11-10' AS Date), CAST(N'18:00:00' AS Time), CAST(100.00 AS Decimal(10, 2)), N'Available', CAST(N'2025-10-21T02:51:05.700' AS DateTime))
INSERT [dbo].[ExperienceDetail] ([experience_detail_id], [experience_id], [experience_detail_date], [experience_detail_time], [experience_detail_price], [experience_detail_status], [added_at]) VALUES (3, 1, CAST(N'2025-12-20' AS Date), CAST(N'19:30:00' AS Time), CAST(120.00 AS Decimal(10, 2)), N'Available', CAST(N'2025-10-21T02:51:05.700' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExperienceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[FriendInvitation] ON 

INSERT [dbo].[FriendInvitation] ([invitation_id], [visitor_id], [invitation_receiver_email], [invitation_status], [invitation_token], [invitation_sent_at], [added_at], [accepted_at], [receiver_id], [experience_detail_id]) VALUES (1, 1, N'munirah.albuainain@example.com', N'Accepted', N'INV-AB12CD34', CAST(N'2025-10-11T03:02:38.340' AS DateTime), CAST(N'2025-10-11T03:02:38.340' AS DateTime), CAST(N'2025-10-13T03:02:38.340' AS DateTime), 3, 1)
INSERT [dbo].[FriendInvitation] ([invitation_id], [visitor_id], [invitation_receiver_email], [invitation_status], [invitation_token], [invitation_sent_at], [added_at], [accepted_at], [receiver_id], [experience_detail_id]) VALUES (2, 2, N'mashael.alfihani@example.com', N'Accepted', N'INV-CD56EF78', CAST(N'2025-10-14T03:02:38.340' AS DateTime), CAST(N'2025-10-14T03:02:38.340' AS DateTime), CAST(N'2025-10-21T18:58:43.773' AS DateTime), 1, 4)
INSERT [dbo].[FriendInvitation] ([invitation_id], [visitor_id], [invitation_receiver_email], [invitation_status], [invitation_token], [invitation_sent_at], [added_at], [accepted_at], [receiver_id], [experience_detail_id]) VALUES (3, 3, N'raghad.alkhaldi@example.com', N'Accepted', N'INV-GH90IJ12', CAST(N'2025-10-09T03:02:38.340' AS DateTime), CAST(N'2025-10-09T03:02:38.340' AS DateTime), CAST(N'2025-10-11T03:02:38.340' AS DateTime), 4, 7)
SET IDENTITY_INSERT [dbo].[FriendInvitation] OFF
GO
SET IDENTITY_INSERT [dbo].[Highlight] ON 

INSERT [dbo].[Highlight] ([highlight_id], [highlight_title], [highlight_content], [highlight_image], [highlight_description], [highlight_time], [added_at], [admin_id], [visitor_id]) VALUES (1, N'Winter Wonderland Lights', N'Visited Riyadh Season Winter Wonderland with family.', N'https://media.timeout.com/images/106070748/image.jpg', N'The lights and snow rides were amazing!', CAST(N'2025-11-01T20:00:00.000' AS DateTime), CAST(N'2025-10-21T02:57:04.833' AS DateTime), 1, 1)
INSERT [dbo].[Highlight] ([highlight_id], [highlight_title], [highlight_content], [highlight_image], [highlight_description], [highlight_time], [added_at], [admin_id], [visitor_id]) VALUES (2, N'Diriyah Heritage Walk', N'Explored the historic Diriyah Gate.', N'/uploads/dummy-slug-2025-10-21-68f76f265928c.jpg', N'Learned about the birth of the Saudi Kingdom.', CAST(N'2025-11-10T00:00:00.000' AS DateTime), CAST(N'2025-10-21T02:57:04.833' AS DateTime), 1, 1)
INSERT [dbo].[Highlight] ([highlight_id], [highlight_title], [highlight_content], [highlight_image], [highlight_description], [highlight_time], [added_at], [admin_id], [visitor_id]) VALUES (3, N'Edge of the World Sunset', N'Captured stunning sunset views.', N'/uploads/dummy-slug-2025-10-21-68f76f33dd95a.jpg', N'One of the best views in Riyadh.', CAST(N'2025-11-20T00:00:00.000' AS DateTime), CAST(N'2025-10-21T02:57:04.833' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Highlight] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([image_id], [image_attachment], [image_time], [added_at], [experience_id]) VALUES (1, N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjH532egMNcEr4T3i8MQUKRrAX2JDhRyDMlw&s', CAST(N'2025-10-21T02:51:05.700' AS DateTime), CAST(N'2025-10-21T02:51:05.700' AS DateTime), 1)
INSERT [dbo].[Image] ([image_id], [image_attachment], [image_time], [added_at], [experience_id]) VALUES (2, N'https://www.my.gov.sa/wps/wcm/connect/8e765e93-4cc8-4095-96a0-8752f5482b41/WWL2.jpg?MOD=AJPERES', CAST(N'2025-10-21T02:51:05.700' AS DateTime), CAST(N'2025-10-21T02:51:05.700' AS DateTime), 1)
INSERT [dbo].[Image] ([image_id], [image_attachment], [image_time], [added_at], [experience_id]) VALUES (3, N'https://media.timeout.com/images/106070748/image.jpg', CAST(N'2025-10-21T02:51:05.700' AS DateTime), CAST(N'2025-10-21T02:51:05.700' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoice] ON 

INSERT [dbo].[Invoice] ([invoice_id], [invoice_date], [invoice_visitor_address], [invoice_total_amount], [tax_amount], [added_at], [payment_id]) VALUES (1, CAST(N'2025-10-07' AS Date), N'Riyadh, Saudi Arabia', CAST(350.00 AS Decimal(10, 2)), CAST(17.50 AS Decimal(10, 2)), CAST(N'2025-10-07T03:11:47.117' AS DateTime), 1)
INSERT [dbo].[Invoice] ([invoice_id], [invoice_date], [invoice_visitor_address], [invoice_total_amount], [tax_amount], [added_at], [payment_id]) VALUES (2, CAST(N'2025-10-10' AS Date), N'Riyadh, Saudi Arabia', CAST(200.00 AS Decimal(10, 2)), CAST(10.00 AS Decimal(10, 2)), CAST(N'2025-10-10T03:11:47.117' AS DateTime), 2)
INSERT [dbo].[Invoice] ([invoice_id], [invoice_date], [invoice_visitor_address], [invoice_total_amount], [tax_amount], [added_at], [payment_id]) VALUES (3, CAST(N'2025-10-14' AS Date), N'Riyadh, Saudi Arabia', CAST(450.00 AS Decimal(10, 2)), CAST(22.50 AS Decimal(10, 2)), CAST(N'2025-10-14T03:11:47.117' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Invoice] OFF
GO
SET IDENTITY_INSERT [dbo].[Itinerary] ON 

INSERT [dbo].[Itinerary] ([itinerary_id], [visitor_id], [experience_id], [itinerary_start_date], [itinerary_end_date], [itinerary_day], [itinerary_description], [added_at]) VALUES (1, 1, 5, CAST(N'2025-10-22' AS Date), CAST(N'2025-11-06' AS Date), 2, N'23e', CAST(N'2025-10-21T20:11:58.323' AS DateTime))
SET IDENTITY_INSERT [dbo].[Itinerary] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_date], [payment_amount], [payment_method], [payment_status], [added_at]) VALUES (1, 1, CAST(N'2025-10-07' AS Date), CAST(350.00 AS Decimal(10, 2)), N'Card', N'Paid', CAST(N'2025-10-07T03:11:47.117' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_date], [payment_amount], [payment_method], [payment_status], [added_at]) VALUES (2, 2, CAST(N'2025-10-10' AS Date), CAST(200.00 AS Decimal(10, 2)), N'PayPal', N'Pending', CAST(N'2025-10-10T03:11:47.117' AS DateTime))
INSERT [dbo].[Payment] ([payment_id], [booking_id], [payment_date], [payment_amount], [payment_method], [payment_status], [added_at]) VALUES (3, 3, CAST(N'2025-10-14' AS Date), CAST(450.00 AS Decimal(10, 2)), N'Card', N'Failed', CAST(N'2025-10-14T03:11:47.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([review_id], [visitor_id], [experience_id], [review_rating], [review_comment], [review_time], [added_at], [booking_id], [admin_id]) VALUES (1, 1, 1, 5, N'Absolutely loved the energy and performances at Riyadh Season! Perfect organization and atmosphere.', CAST(N'2025-10-11T03:13:02.497' AS DateTime), CAST(N'2025-10-11T03:13:02.497' AS DateTime), NULL, NULL)
INSERT [dbo].[Review] ([review_id], [visitor_id], [experience_id], [review_rating], [review_comment], [review_time], [added_at], [booking_id], [admin_id]) VALUES (2, 2, 2, 4, N'A great experience exploring the desert. The guides were friendly but the trip was a bit long.', CAST(N'2025-10-13T03:13:02.497' AS DateTime), CAST(N'2025-10-13T03:13:02.497' AS DateTime), NULL, NULL)
INSERT [dbo].[Review] ([review_id], [visitor_id], [experience_id], [review_rating], [review_comment], [review_time], [added_at], [booking_id], [admin_id]) VALUES (3, 3, 3, 5, N'A beautiful journey through Saudi culture. I recommend it to anyone visiting Riyadh.', CAST(N'2025-10-15T03:13:02.497' AS DateTime), CAST(N'2025-10-15T03:13:02.497' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([ticket_id], [booking_id], [ticket_code], [ticket_status], [ticket_type], [ticket_seat_number], [issued_at], [added_at]) VALUES (1, 1, N'TCK-SA-1001', N'Active', N'VIP', N'A12', CAST(N'2025-10-07T03:11:47.117' AS DateTime), CAST(N'2025-10-07T03:11:47.117' AS DateTime))
INSERT [dbo].[Ticket] ([ticket_id], [booking_id], [ticket_code], [ticket_status], [ticket_type], [ticket_seat_number], [issued_at], [added_at]) VALUES (2, 2, N'TCK-SA-1002', N'Pending', N'Standard', N'B04', CAST(N'2025-10-10T03:11:47.117' AS DateTime), CAST(N'2025-10-10T03:11:47.117' AS DateTime))
INSERT [dbo].[Ticket] ([ticket_id], [booking_id], [ticket_code], [ticket_status], [ticket_type], [ticket_seat_number], [issued_at], [added_at]) VALUES (3, 3, N'TCK-SA-1003', N'Cancelled', N'Standard', N'C09', CAST(N'2025-10-14T03:11:47.117' AS DateTime), CAST(N'2025-10-14T03:11:47.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_id], [full_name], [email], [password_hash], [image], [role], [added_at]) VALUES (1, N'System Admin', N'admin@mytrip.com', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s', N'admin', CAST(N'2025-10-21T02:38:26.517' AS DateTime))
INSERT [dbo].[User] ([user_id], [full_name], [email], [password_hash], [image], [role], [added_at]) VALUES (2, N'Latifah Alanazi', N'latifah@mytrip.com', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s', N'visitor', CAST(N'2025-10-21T02:38:26.520' AS DateTime))
INSERT [dbo].[User] ([user_id], [full_name], [email], [password_hash], [image], [role], [added_at]) VALUES (3, N'Munirah Albuainain', N'munirah@mytrip.com', N'$2y$10$aKhNNNXlP3R96DfwJdPTn.ew6scWdg2tSCSUUNwGzaP/SRpqOEtCG', N'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnSA1zygA3rubv-VK0DrVcQ02Po79kJhXo_A&s', N'visitor', CAST(N'2025-10-21T02:38:26.520' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([visitor_id], [user_id], [visitor_first_name], [visitor_last_name], [visitor_phone_number], [added_at], [bio]) VALUES (1, 2, N'Latifahe', N'Alanazi', N'0500000002', CAST(N'2025-10-21T02:38:26.520' AS DateTime), NULL)
INSERT [dbo].[Visitor] ([visitor_id], [user_id], [visitor_first_name], [visitor_last_name], [visitor_phone_number], [added_at], [bio]) VALUES (2, 3, N'Munirah', N'Albuainain', N'0500000003', CAST(N'2025-10-21T02:38:26.520' AS DateTime), NULL)
INSERT [dbo].[Visitor] ([visitor_id], [user_id], [visitor_first_name], [visitor_last_name], [visitor_phone_number], [added_at], [bio]) VALUES (3, 4, N'Mashael', N'Alfihani', N'0500000004', CAST(N'2025-10-21T02:38:26.523' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__FriendIn__5CE21AFF5F447A2C]    Script Date: 11/8/2025 9:08:02 AM ******/
ALTER TABLE [dbo].[FriendInvitation] ADD UNIQUE NONCLUSTERED 
(
	[invitation_token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ticket__628DB75F2BF7E203]    Script Date: 11/8/2025 9:08:02 AM ******/
ALTER TABLE [dbo].[Ticket] ADD UNIQUE NONCLUSTERED 
(
	[ticket_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61647C4F4BDE]    Script Date: 11/8/2025 9:08:02 AM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking__added_a__60A75C0F]  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [DF__Booking__booking__2BFE89A6]  DEFAULT (getdate()) FOR [booking_time]
GO
ALTER TABLE [dbo].[Experience] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[ExperienceDetail] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[FriendInvitation] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Highlight] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Image] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Itinerary] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [issued_at]
GO
ALTER TABLE [dbo].[Ticket] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Visitor] ADD  DEFAULT (getdate()) FOR [added_at]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__experie__5DCAEF64] FOREIGN KEY([experience_id])
REFERENCES [dbo].[Experience] ([experience_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__experie__5DCAEF64]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK__Booking__visitor__5EBF139D] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK__Booking__visitor__5EBF139D]
GO
ALTER TABLE [dbo].[ExperienceDetail]  WITH CHECK ADD FOREIGN KEY([experience_id])
REFERENCES [dbo].[Experience] ([experience_id])
GO
ALTER TABLE [dbo].[FriendInvitation]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[FriendInvitation]  WITH CHECK ADD  CONSTRAINT [FK_FriendInvitation_ExperienceDetail] FOREIGN KEY([experience_detail_id])
REFERENCES [dbo].[ExperienceDetail] ([experience_detail_id])
GO
ALTER TABLE [dbo].[FriendInvitation] CHECK CONSTRAINT [FK_FriendInvitation_ExperienceDetail]
GO
ALTER TABLE [dbo].[FriendInvitation]  WITH CHECK ADD  CONSTRAINT [FK_FriendInvitation_Receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[FriendInvitation] CHECK CONSTRAINT [FK_FriendInvitation_Receiver]
GO
ALTER TABLE [dbo].[Highlight]  WITH CHECK ADD  CONSTRAINT [FK_Highlight_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([admin_id])
GO
ALTER TABLE [dbo].[Highlight] CHECK CONSTRAINT [FK_Highlight_Admin]
GO
ALTER TABLE [dbo].[Highlight]  WITH CHECK ADD  CONSTRAINT [FK_Highlight_Visitor] FOREIGN KEY([visitor_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[Highlight] CHECK CONSTRAINT [FK_Highlight_Visitor]
GO
ALTER TABLE [dbo].[Itinerary]  WITH CHECK ADD FOREIGN KEY([experience_id])
REFERENCES [dbo].[Experience] ([experience_id])
GO
ALTER TABLE [dbo].[Itinerary]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK__Payment__booking__6754599E] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK__Payment__booking__6754599E]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([experience_id])
REFERENCES [dbo].[Experience] ([experience_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD FOREIGN KEY([visitor_id])
REFERENCES [dbo].[Visitor] ([visitor_id])
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([admin_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Admin]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Booking] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Booking]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK__Ticket__booking___6E01572D] FOREIGN KEY([booking_id])
REFERENCES [dbo].[Booking] ([booking_id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK__Ticket__booking___6E01572D]
GO
ALTER TABLE [dbo].[Visitor]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CK__Booking__booking__5FB337D6] CHECK  (([booking_status]='Cancelled' OR [booking_status]='Confirmed' OR [booking_status]='Pending'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CK__Booking__booking__5FB337D6]
GO
ALTER TABLE [dbo].[FriendInvitation]  WITH CHECK ADD  CONSTRAINT [CK_Invitation_Status] CHECK  (([invitation_status]='Rejected' OR [invitation_status]='Accepted' OR [invitation_status]='Pending'))
GO
ALTER TABLE [dbo].[FriendInvitation] CHECK CONSTRAINT [CK_Invitation_Status]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='PayPal' OR [payment_method]='Card'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_status]='Pending' OR [payment_status]='Failed' OR [payment_status]='Paid'))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([review_rating]>=(1) AND [review_rating]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='visitor' OR [role]='admin'))
GO
USE [master]
GO
